@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	/* color: black; */
	/* background: #000; */
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: 'Cooper', "Cooper Black", Georgia, serif;
	font-size: 12px;
}

body h6 {
	font-family: 'calibri';
}

body p {
	font-family: 'calibri';
}
/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}



/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
	background: url(../images/home_page_desktop_assets/ramp_grind.JPG) no-repeat;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

#header-con {
	/* background-color: #ddd; */
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-box1 {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
}

#main-nav {
	grid-column: 3/11;
	/* Remove as content will dictate height */
	height: 80px;
}

#main-nav li {
	display: inline;
	padding: 20px;
	margin: 10px;
	font-size: 30px;
}

#main-nav li a {color: black;}

#header-box2 {
	grid-column: 11/-1;
	padding-top: 10px;
	/* Remove as content will dictate height */
	height: 70px;
	font-size: 30px;
	list-style: none;
}

#header-box2 a {
	color: #000000;
}

/* Specific to index page desktop  */

#hero {
	margin-top: 180px;
}

#hero-text {
	grid-column: 1/8;
	font-size: 48px;
	text-align: left;
	/* color: #000; */
	/* Remove as content will dictate height */
	/* height: 582px; */
}

#hero_text p {
	font-size: 28px;
	text-align: left;
}

.button {
	display: inline-flex;
	background: #476071;
	border: none;
	outline: none;
	border-radius: 15px;
	overflow: hidden;
	font-family: Arial;
	font-size: 28px;
	width: 200px;
	height: 70px;
	font-weight: 500;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
}

.button:hover {
	background: #666666;
}

.button:active {
	background: #343434;
}

.button__text {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

#hero-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
}

#products {
	margin-top: 100px;
	margin-bottom: 100px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
	font-size: 48px;
}

#product1 h3, #product2 h3,#product3 h3 {
	background-color: #476071;
	width: 499px;
	height: 116px;
	color: white;
	padding: 20px;
	padding-top: 80px;
	text-align: center;
	font-size: 50px;
	margin-top: -220px;
	position: absolute;
	opacity: 80%;
}

#product1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 507px;
}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 507px;
}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 507px;
}

.product-box {
	background-color: #ddd;
}

.product-box:hover {
	opacity: 50%;
}

#about-con {
	background-color: #9bb0be;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about-title {
	text-align: center;
	font-size: 48px;
	margin-top: 200px;
	margin-bottom: -60px;
}

#about-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
	text-align: left;
}

#about-text h3 {
	font-size: 48px;
}

#about-text p {
	font-size: 26px;
}



#about-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
	
}

#contact {
	/* margin-top: 100px;
	margin-bottom: 100px; */
	background: url(..//images/home_page_desktop_assets/standing_board.JPG);
	height: 1054px;
}

#contact-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
	text-align: left;
	font-size: 55px;
}

#contact p {
	font-size: 40px;
}

#contact-form {
	margin-top: 100px;
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
	background: #476071;
}

#contact-form-hero h2{
    grid-column: 7/12;
    align-self: end;
}

#contact-form-text p {
    grid-column: 2/12;
    margin-bottom: 80px;
}

#contact-form-adress-left {
    grid-column: 2/6;
}

#contact-form-fields-right {
    grid-column: 6/12;
}

#contact-form-adress-left {
    font-size: 35px;
    margin-bottom: 20px;
}

#contact-form-adress-left p {
    margin-bottom: 20px;
    font-size: 20px;
}

#contact-form-fields-right form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 22px 0;
	padding-left: 22px;
    border: 2px solid #aaaaaa;
    border-radius: 50px;
    background-color: #aaaaaa;
    margin-top: 30px;
	width: 600px;
    font: inherit;
	font-size: 28px;
}

textarea { height: 160px; }

input::placeholder, textarea::placeholder { color: white; }

#contact-form-fields-right textarea {
    height: 300px;
}


input[type="submit"] {
    width: 600px;
    padding: 16px 64px;
    background-color: #9bb0be;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
}

input[type="submit"]:hover {
    background-color: #666666;
	cursor: pointer;
}

input[type="submit"]:active {
	background: #343434;
}

/*Common page elements  */

#footer-con {
	background-color: #9bb0be;
	padding-top: 50px;
	padding-bottom: 20px;
}

#footer-logo {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
	margin-top: 10px;
}

#footer-nav {
	grid-column: 3/-1;
	/* Remove as content will dictate height */
	height: 80px;
	margin-bottom: 100px;
	background: #666666;
	border-radius: 50px;
	
}

#footer-nav li {
	display: inline;
	padding: 20px;
	margin: 5px;
	font-size: 30px;
}

#footer-nav li a {
	color: #fff;
}

#footer-newsletter1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 80px;
	font-weight: bolder;
	font-size: 30px;
	margin-top: -30px;
}

#footer-newsletter1 input {}

.nws {
	width: 290px;
	font-size: 28px;
}

#footer-newsletter2 {
	grid-column: 5/7;
	/* Remove as content will dictate height */
	height: 80px;
	font-weight: bolder;
}

#button3 {
	display: absolute;
	background: #476071;
	border: none;
	border-radius: 50px;
	overflow: hidden;
	font-family: 'cooper';
	font-size: 50px;
	font-weight: bolder;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	height: 80px;
	margin-left: 100px;
}

#button3:hover {
	background: #666666;
}

#button3:active {
	background: #343434;
}

#footer-social {
	grid-column: 11/-1;
	/* Remove as content will dictate height */
	height: 80px;
}



/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/1920x580");
	height: 580px;
}

#gallery-text {
	grid-column: 1/9;
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
}

#gallery-controls {
	margin-top: 200px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

.gallery-box {
	background-color: #ddd;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
}